$myViolet:rgb(166, 3, 248);
@mixin font1{
    font-size: 50px;
    color: coral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@mixin font2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
@mixin p_fon {
    background-color: darkgrey;
    color: aliceblue;
}
@mixin li_mixin{
    color: darkgreen;
    text-decoration: wavy;
}
@mixin color_li {
    color: darkslategray;
    text-decoration: overline;
}

h1 {
    @include font1()
}
h3 {
    color: $myViolet;
}
p {
    @include font2()
}
p:nth-child(2){
    @include p_fon()
}
p ~ ul{
    @include li_mixin()
  }
.color_li {
    @include color_li()
}
.pink:hover {
    text-decoration: underline;
    color: pink;
}
.par_1{
    border-top: darkred;
    font-style: italic;
    background-color: aliceblue;
  }
  .par1_2{
    @extend .par_1;
    text-decoration: underline;
  }
p:last-child{
    border: 3px dashed rgb(247, 15, 54);
    &:hover {
        background-color: pink;
    }
}