$myOrange:orange;
@mixin font_p{
    color: cadetblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@mixin hover {
    color: yellowgreen;
    font-size: 20px;
}
h3 {
    color: $myOrange;
}
p {
    @include font_p()
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &.photo:visited {
        background-image:url("drew-farwell-zNo9adZGR8c-unsplash.jpg");
    }
}
a:hover {
    @include hover()
}
.photo {
    background-image:url("drew-farwell-zNo9adZGR8c-unsplash.jpg");
    background-size: cover;
}
